html,
body {
    background: #121f2b;
    font-family: apple-system, sans-serif;
    margin: 0;
    padding: 0;
    color: #eee;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    user-select: none;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header_LastUpdated {
    font-size: 12px;
    font-weight: 400;
    color: #6689a9;
}
.header_AddRegion {
    margin: 0;
    height: 45px;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: 0;
    background: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 1px;
    border: 1px solid #33485b;
    background: #121f2b;
    cursor: pointer;
    font-family: inherit;
    outline: 0;
}
.addRegion:focus {
    appearance: none;
}
.mainGraph {
    width: 100%;
    height: 300px;
    padding-right: 10px;
    margin-left: -10px;
}
.mainGraph_Canvas {
    border: 1px solid #121f2b;
}
.wrapper {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.addPanel_Active .wrapper {
    opacity: 0.25;
}

.dataPod {
    display: inline-block;
    margin-bottom: 40px;
    max-width: 450px;
    min-width: 300px;
    margin: 20px;
    position: relative;
}
.dataPod:before {
    width: 3px;
    height: 25px;
    content: "";
    background: currentColor;
    position: absolute;
    left: -10px;
    top: 0;
    height: 25px;
    border-radius: 2px;
}
.dataPod:empty {
    display: none;
}
.dataPod_Title {
    font-size: 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #33485b;
}
.dataPod_Remove:hover {
    color: #fff;
}

.dataPod_Remove {
    position: absolute;
    right: 0;
    top: -12px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    color: #6195c2;
    cursor: pointer;
}
.dataPod_Summary {
    margin-bottom: 10px;
}
.dataPod_SummaryItem {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    padding-right: 20px;
    width: 33%;
}
.dataPod_SummaryValue {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding: 0;
    margin: 0;
}
.dataPod_SummaryLabel {
    font-size: 11px;
    line-height: 20px;
    color: #6689a9;
}
.dataPod_SummaryValue-Pos {
    color: #eb4747;
}
.dataPod_SummaryValue-Neg {
    color: #66cc66;
}
.divider {
    border: 0;
    border-bottom: 1px dotted #33485b;
    margin-bottom: 20px;
    grid-column: 1/-1;
    width: 100%;
}

.dataPod_RawData-Title {
    font-size: 11px;
    color: #6195c2;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

.dataPod_RawData {
    height: 110px;
    width: 50%;
    overflow-y: scroll;
}
.dataPod_RawDataItem {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0;
    line-height: 0;
    height: 22px;
    align-items: center;
}
.dataPod_RawData-Date,
.dataPod_RawData-Value {
    font-size: 14px;
    margin-right: 15px;
    width: 50px;
    color: #fff;
}
.dataPod_RawData-Date {
    color: #6689a9;
}
.addPanel {
    width: 100%;
    max-width: 400px;
    transform: translate3d(-50%, -50%, 0);
    background: #ddd;
    border-radius: 1px;
    top: 50%;
    position: absolute;
    left: 50%;
    padding: 20px;
    flex-wrap: wrap;
    display: none;
}
.addPanel_Active .addPanel {
    display: flex;
}
.addPanel_Input {
    width: 100%;
    border: 0;
    margin-bottom: 10px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: 0;
    border-radius: 1px;
    border: 1px solid #b1b9c1;
}

.addPanel_Submit {
    font-family: inherit;
    height: 45px;
    appearance: none;
    font-size: 14px;
    border-radius: 1px;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    background: #111f2c;
    outline: 0;
    appearance: none;
    border: 0;
}
.addPanel_Cancel {
    font-family: inherit;
    height: 45px;
    appearance: none;
    font-size: 14px;
    border-radius: 1px;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #333;
    border: 1px solid #333;
    background: #ddd;
    outline: 0;
    appearance: none;
}
.addPanel_Intro {
    font-size: 15px;
    color: #333;
    text-align: center;
    line-height: 20px;
    width: 100%;
}

.addPanel_Link {
    display: inline;
    font-weight: 700;
}

.addPanel_Error {
    display: none;
}

.addError .addPanel_Error {
    display: inline;
}

.addError .addPanel_Intro {
    display: none;
}
