.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.header_LastUpdated {
    font-size: 12px;
    font-weight: 400;
    color: #6689a9;
}

.header_Title {
    margin: 0;
    height: 45px;
    appearance: none;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    flex: 1 0 100%;
    /* border-bottom: 1px solid var(--blue-bright); */
}
.header_Link {
    color: var(--blue-bright);
    display: inline;
    border-bottom: 2px solid var(--blue-bright);
}
.addRegion:focus {
    appearance: none;
}
